section{
    display:flex;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;

}


.yy img{
 padding: 20px;
 width: 80%;
 height: 60%;
}
section math {
    display: flex;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;
    justify-content: center;
}